@using WebNetSample.Entity.Dtos;
@using WebNetSample.Core.Extensions;
@model List<CategoryDetailDto>

<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                <a webnetsample-id="@item.Id">
                @*<a href="/Categories/GetImageById/id="+@item.Id> *@
                    <img src="@item.ImagePath" alt="@item.Name" style="height:12.5%;width:15%;"> 
                </a>
            </td>
            <td>
                <a class="btn btn-warning" asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id">EDIT</a>
                <a class="btn btn-danger" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id">DELETE</a>
            </td>
        </tr>
     }
</tbody>